* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Navigation */
nav {
    background: #43281c;
    display: flex;
    justify-content: center;
    height: 4rem;
}

#logo {
    height: 40px;
    width: 40px;
    align-self: center;

}

h1 {
    align-self: center;
    color: #fbf2c0;
    margin-left: 10px;
}

/* End of Navigation */

/* Main */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 50px 30px;
}

.grid-item-1 {
    background-color: #eee1d5;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    border-radius: 50px;
}

.grid-item-2 {
    display: inline-grid;
    background-color: #eee1d5;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    border-radius: 50px;
    
}

.grid-item-3 {
    display: inline-grid;
    background-color: #eee1d5;
    grid-column: 2 / 2;
    grid-row: 2 / 4;
    border-radius: 50px;
    
}

#order-item-1 {

    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#order-item-2 {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#order-item-3 {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

fieldset {
    max-width: 50%;
    border-radius: 50px;
    margin-left: 10px;
    margin-bottom: 6px;
}

input {

    border-radius: 20px;
    padding: 0.25rem;
    margin: 5px 5px 10px 5px;
    border: none;
}

/* End of Main */


/* Bottom Section*/

.lower-section {
    justify-content: center;
    padding-top: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 50px 30px;
}

.bottom-col-1 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 30px;
}

.bottom-col-2 {
    padding-left: 30px;
}


.submit-btn {
    display: grid;
    justify-content: center;
    width: 90vw;
    text-align: center;
    margin: 0 auto;
    background-color: #b08968;
    padding: 10px;
    border-radius: 50px;
}

/* End of Bottom section*/


/* Footer*/

/* End of Footer*/


/* Media Queries */